<div class="container-fluid">
    <div class="header text-center">
      <div class="content">
        <div style="font-size: 6rem;">Git<span>
            <img width="85" alt="" src="../../../assets/img/github.png"
              style="padding-bottom: 2%;" /></span>Find</div><br><br>
        <h1>Unleash your creative prowess </h1>
        <h4>Find Developers by their usernames or by their repositories.</h4><br>
      </div>
      <a routerLink="/profile" style="color: inherit;">
        <h4>View my profile</h4>
      </a><br>
    </div>
  </div>